<address>
  <strong> La Chama </strong><br>
  084 Calle Flores <br>
  Mayagüez, Puerto Rico 00680<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong> La Chama </strong><br>
  <a href="mailto:#">lachama@gmail.com</a>
</address>